<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/i57197/Desktop/Automation Stuff/Java/JavaAutomation">
        <classes>
            <class name="Indeed.HomePage"><methods><include name="BasePageNavigation"/></methods></class>
            <class name="Indeed.ValidateNavBar"><methods><include name="validateNavigationBar"/></methods></class>
            <class name="Indeed.ValidateTitle"><methods><include name="VerifyHomePage"/></methods></class>
        </classes>
    </test>
</suite>